body {
    margin: 10% 10% 10% 10%;
    background-color: #000000;
    color: #00ff00;
}


.title {
    font-size: 4em;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.playerbox {
    border: 1.1em;
    border-style: double;
    width: 100%;
    display: flex;
}


.album-art {
    height: 200px;
    flex: 2;
}

.playerinfo {
    flex: 4;
}

img {
    height: 100%;
    object-fit: contain;
}

.controls {
    display: flex;
    margin-top: 1.5em;
}

.songname {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.songinfo {
    margin-top: 1.2em;
}

.playcontrol {
    flex: 1;
    font-size: 1.5em;
}

.volumecontrol {
    flex: 4;
    font-size: 1.5em;
}

.bracket {
    font-size: 1.4em;
}

.hide {
    color: #000000;
}

.info {
    text-align: center;
    margin-top: 1.5em;
    display: flex;
    font-size: 1.5em;
}

.clients {
    flex: 1;
}

.requester {
    flex: 1;
}
